.text-input {
  margin-top: 15px !important;
}

.text-input .MuiOutlinedInput-root {
  color: white;
}
.text-input .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}
.text-input .MuiInputLabel-root {
  color: white;
}
